/* :root {
	--body-color: rgb(247, 247, 247);
	--primary-bgColor: white;
	--complementary-bgColor: black;
	--primary-color: black;
	--secondary-color: rgba(50, 50, 50, 0.7);
	--primary-shadow-color: black;
	--green-color: green;
} */

/* dark mode */
:root {
	--body-color: rgba(0, 0, 0, 0.9);
	--primary-bgColor: rgb(30, 34, 36);
	--complementary-bgColor: white;
	--primary-color: white;
	--secondary-color: silver;
	--primary-shadow-color: white;
	--green-color: lightgreen;
}
#topBar {
	height: 90px;
	max-width: 100vw;
	background: var(--primary-bgColor, white);
	box-shadow: 0 1px 3px black;
}

.navLink {
	font-size: x-large;
	color: var(--secondary-color, grey);
}

.navLink:hover {
	color: var(--secondary-color, grey);
}

#edu {
	color: var(--primary-color, black);
	cursor: pointer;
}

@media only screen and (max-width: 850px) {
	#edu {
		font-size: 8.5vw;
	}
	#navCont {
		display: none;
	}
	#topBar {
		height: 60px;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
	#edu {
		font-size: 5.5vw;
		margin-right: 40px;
	}
}
