#board {
	box-shadow: 1px 1px 4px black;
}

.boxes {
	box-shadow: 1px 1px 2px black;
	width: calc(100% / 3 - 25px);
	height: calc(100% / 2 - 20px);
}

.pBtns {
	cursor: pointer;
	transition: 0.2s;
}

.pBtns:hover {
	color: green;
}

.btns {
	background: transparent;
	border: none;
	transition: 0.25s;
}

.btns:focus {
	outline: none;
}

.pBtns:hover .btns {
	transform: scale(1.2);
	color: green;
}

@media only screen and (max-width: 900px) {
	.boxes {
		width: 100%;
		height: auto;
	}
}
