.sidebar {
	height: 150px;
	width: 100%;
	min-width: 80px;
	border-radius: 6px;
	box-shadow: 0 0 6px black;
	overflow-y: hidden;
	overflow-x: auto;
}
#sideCont {
	height: inherit;
	width: inherit;
}

.mi {
	font-size: xx-large;
}
.btnFont {
	font-size: x-large;
}

@media only screen and (max-width: 900px) {
	.sidebar {
		height: 100px;
	}
	.btnFont {
		font-size: small;
	}
}
